*.pyc
/*
!.gitignore
!alacritty/
!htop/
!starship.toml
!neofetch/
!nvim/
!ranger/
!qtile/
!xob/
!rofi/
!picom/
!sxhkd/
!bspwm/
!kitty/
!polybar/hack/config.ini
!polybar/hack/modules.ini
!polybar/hack/user_modules.ini
!polybar/hack/bars.ini
!polybar/hack/preview.ini
